footer {
   
    
    background: url(../image/footer-bg.jpg);
    position: relative;
	padding:45px;
}

footer p{color:#fff;font-size: 12px;}
footer b{font-size: 15px;}
footer a{
	color:#fff;
}

footer .custom-menu-primary ul {
    float: none;
}
footer .custom-menu-primary.clearfix {
    padding-right: 36px;
   
}
footer .custom-menu-primary ul li a{
      
    color: #4e4d49 !important;
}
footer .custom-menu-primary ul li a:hover{
    color: #e7a822 !important;
}
.footer-logo{
    text-align: center;
}
section.footer_nav {
    margin-top: 40px;
}
.footer_nav ul li{
    list-style: none;
    display: inline-block;
}
.footer_nav ul li a i{
    font-size: 18px;
    color: #fff;
    margin-left: 3px;
}
.footer_nav ul li a i:hover{
    color: #e7a822;
}
.footer_nav ul li a img {
    width:33%;
}
.vidaan_logo a:hover img {
    -webkit-animation-name: logo_animate;
    animation-name: logo_animate;
    -webkit-animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes logo_animate {
0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
}
40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
}
50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
}
65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
}
75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
}
100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
}

/* working on safari */ 
  @media screen and (-webkit-min-device-pixel-ratio:0){
        ::i-block-safari,.footer_nav ul li a img {
    width:20px;
}
}

  }